/! DB.3.1.2 - DB.3.1.8 Spółka_31.12.2024_ Oświadczenia o niezależności_UHY ECA_dzień podpisania SzB (1).xlsx
/Dane sharepoint.xlsx
/desktop.ini
/podpisy
/skrypty
/Szablon dzien podpisu.xlsx
/Szablon.xlsx
/__pycache__